<div class="card text-center mb-2">
  <div class="card-body">
    <p>Goal : {{exerGoalCnt}} times(day)</p>
       Today : total {{todayExerCnt}} times
  </div>
</div>

<div class="card text-center mb-2">
  <div class="card-body">
    <p class="mr-3">Click pushup times.</p>  
    <p>
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(10)">10</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(15)">15</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(20)">20</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(25)">25</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(30)">30</button> 
    </p>  
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(35)">35</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(40)">40</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(45)">45</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(50)">50</button> 
      <button type="button" class="btn btn-outline-primary mr-2 btn-sm" (click)="onSaveExerHis(55)">55</button> 
  </div>   
</div> 

<div class="card text-center">
    <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pushupOutVo of pushupOutVoList">
            <td>{{pushupOutVo.exerDt}}</td>
            <td>{{pushupOutVo.exerTm}}</td>
            <td>{{pushupOutVo.exerCnt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>    

